<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    <script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; height: 100vh; overflow: hidden;">
		<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		desktopPane.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.Constraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	labelExample = createExamplePanel("jsuis.Label example");
	labelExample.setLayout(new jsuis.GridBagLayout());
	
	label = new jsuis.Label("Hello, World!", new jsuis.ImageIcon("/images/Star.svg", 16, 16));
	labelExample.add(label);
	
	desktopPane.setVisible(true);
	
		</script>
	</body>
</html>
