<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    <script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; overflow: hidden;">
		<div id="container" style="height: 100vh;"></div>
		<script>
document.addEventListener('DOMContentLoaded', function() {
	
	component = new jsuis.Component(document.getElementById("container"));
	
	frame = new jsuis.Frame();
	component.add(frame);
	frame.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		frame.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.BorderConstraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	labelExample = createExamplePanel("jsuis.Label example");
	labelExample.setLayout(new jsuis.GridBagLayout());
	
	label = new jsuis.Label("Hello, World!");
	labelExample.add(label);
	
	frame.setVisible(true);
});
		</script>
	</body>
</html>
