<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    <script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; overflow: hidden;">
		<div id="container" style="height: 100vh;"></div>
		<script>
document.addEventListener('DOMContentLoaded', function() {
	
	component = new jsuis.Component(document.getElementById("container"));
	
	frame = new jsuis.Frame();
	component.add(frame);
	frame.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		frame.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.BorderConstraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	layeredPaneExample = createExamplePanel("jsuis.LayeredPane example");
	layeredPaneExample.setLayout(new jsuis.BorderLayout());
	
	icon = new jsuis.ImageIcon("/images/Duke_(Java_mascot)_waving.svg")
			.setPreferredSize(new jsuis.Dimension(16, 16));
	
	layeredPane = new jsuis.LayeredPane();
	layeredPaneExample.add(layeredPane);
	
	origin = new jsuis.Point(10, 10);
	
	offset = 35;
	
	layerStrings = [ "Cyan (0)", "Green (1)" ];
	layerColors = [ jsuis.Color.Cyan, jsuis.Color.Green ]
	
	for (var i = 0; i < layerStrings.length; i++) {
		var layerPane = new jsuis.Panel(new jsuis.BorderLayout());
		layerPane.setBorder(new jsuis.LineBorder());
		var label = new jsuis.Label(layerStrings[i]);
		layerPane.add(label, jsuis.BorderConstraints.NORTH.withFill(jsuis.Constants.NONE));
		layerPane.setBackground(layerColors[i]);
		layerPane.setBounds(new jsuis.Rectangle(origin.x, origin.y, 145, 145));
		layeredPane.add(layerPane, new jsuis.Constraints(i));
		origin.x += offset;
		origin.y += offset;
	}
	
	dukePanel = new jsuis.Panel(new jsuis.BorderLayout());
	dukePanel.add(icon);
	dukePanel.setBounds(new jsuis.Rectangle(155 - 32, 10, 64, 64));
	layeredPane.add(dukePanel, new jsuis.Constraints(0), 0);
	
	frame.setVisible(true);
});
		</script>
	</body>
</html>
