<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    	<script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; height: 100vh; overflow: hidden;">
    	<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		desktopPane.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.Constraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	menuExample = createExamplePanel("jsuis.Menu example");
	menuExample.setLayout(new jsuis.BorderLayout());
	
	menuFrame = new jsuis.Frame();
	menuExample.add(menuFrame);
	
	menuBar = new jsuis.MenuBar();
	menuFrame.setMenuBar(menuBar);
	
	menu = new jsuis.Menu("Color");
	menuBar.add(menu);
	
	redMenuItem = new jsuis.MenuItem("Red");
	menu.add(redMenuItem);
	
	yellowMenuItem = new jsuis.MenuItem("Yellow");
	menu.add(yellowMenuItem);
	
	greenMenuItem = new jsuis.MenuItem("Green");
	menu.add(greenMenuItem);
	
	redMenuItem.addActionListener(new jsuis.ActionListener({
		actionPerformed: function(event) {
			var contentPane = menuFrame.getContentPane();
			contentPane.setBackground(jsuis.Color.Red);
		}
	}));
	
	yellowMenuItem.addActionListener(new jsuis.ActionListener({
		actionPerformed: function(event) {
			var contentPane = menuFrame.getContentPane();
			contentPane.setBackground(jsuis.Color.Yellow);
		}
	}));
	
	greenMenuItem.addActionListener(new jsuis.ActionListener({
		actionPerformed: function(event) {
			var contentPane = menuFrame.getContentPane();
			contentPane.setBackground(jsuis.Color.Green);
		}
	}));
	
	desktopPane.setVisible(true);
	
		</script>
	</body>
</html>
