<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    <script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; overflow: hidden;">
		<div id="container" style="height: 100vh;"></div>
		<script>
document.addEventListener('DOMContentLoaded', function() {
	
	component = new jsuis.Component(document.getElementById("container"));
	
	frame = new jsuis.Frame();
	component.add(frame);
	frame.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		frame.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.BorderConstraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	menuExample = createExamplePanel("jsuis.Menu example");
	menuExample.setLayout(new jsuis.BorderLayout());
	
	menuFrame = new jsuis.Frame();
	menuExample.add(menuFrame);
	
	menuBar = new jsuis.MenuBar();
	menuFrame.setMenuBar(menuBar);
	
	menu = new jsuis.Menu("A Menu");
	menuBar.add(menu);
	
	textOnlyMenuItem = new jsuis.MenuItem("A text-only menu item");
	menu.add(textOnlyMenuItem);
	
	bothTextIconMenuItem = new jsuis.MenuItem("Both text and icon",
			new jsuis.ImageIcon("/images/Star.svg", 16, 16));
	menu.add(bothTextIconMenuItem);
	
	menu.addSeparator();
	
	iconMenuItem = new jsuis.MenuItem(null,
			new jsuis.ImageIcon("/images/Star.svg", 16, 16));
	menu.add(iconMenuItem);
	
	anotherMenu = new jsuis.Menu("Another Menu");
	menuBar.add(anotherMenu);
	
	cbMenuItem = new jsuis.MenuItem("Menu item");
	anotherMenu.add(cbMenuItem);
	
	frame.setVisible(true);
});
		</script>
	</body>
</html>
