<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    <script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; overflow: hidden;">
		<svg height="0" style="display: block;">
			<defs>
				<image id="/images/Cat_silhouette.svg" xlink:href="/images/Cat_silhouette.svg" width="32" height="32"/>
				<image id="/images/Dog.svg" xlink:href="/images/Dog.svg" width="32" height="32"/>
			</defs>
		</svg>
		<div id="container" style="height: 100vh;"></div>
		<script>
document.addEventListener('DOMContentLoaded', function() {
	
	component = new jsuis.Component(document.getElementById("container"));
	
	frame = new jsuis.Frame();
	component.add(frame);
	
	splitPaneExample = new jsuis.Panel(new jsuis.GridBagLayout());
	frame.add(splitPaneExample);
	
	font = new jsuis.Font("Serif", jsuis.Font.ITALIC, 24);
	
	splitPane = new jsuis.SplitPane();
	splitPaneExample.add(splitPane);
	splitPane.setPreferredSize(new jsuis.Dimension(200, 200));
	splitPane.setBorder(new jsuis.LineBorder());
	splitPane.setPadding(new jsuis.Insets(4));
	
	leftIcon = new jsuis.ImageIcon("/images/Cat_silhouette.svg");
	leftIcon.setPreferredSize(new jsuis.Dimension(30, 30));
	leftLabel = new jsuis.Label("Left").setFont(font).setForeground(jsuis.Color.Orange);
	leftComponent = new jsuis.LayeredPane();
	leftComponent.setLayout(new jsuis.BorderLayout());
	leftComponent.add(leftIcon.setFill(jsuis.Constants.NONE));
	leftComponent.add(leftLabel.setFill(jsuis.Constants.NONE));
	leftComponent.setBorder(new jsuis.LineBorder(jsuis.Color.Gray, 1, 8));
	splitPane.setLeftComponent(leftComponent);
	
	rightIcon = new jsuis.ImageIcon("/images/Dog.svg");
	rightLabel = new jsuis.Label("Right").setFont(font).setForeground(jsuis.Color.Orange);
	rightComponent = new jsuis.LayeredPane();
	rightComponent.setLayout(new jsuis.BorderLayout());
	rightComponent.add(rightIcon.setFill(jsuis.Constants.NONE));
	rightComponent.add(rightLabel.setFill(jsuis.Constants.NONE));
	rightComponent.setBorder(new jsuis.LineBorder(jsuis.Color.Gray, 1, 8));
	splitPane.setRightComponent(rightComponent);
	
	frame.setVisible(true);
});
		</script>
	</body>
</html>
