<!doctype html>
<html>
	<head>
		<title>jsuis</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; height: 100vh; overflow: hidden;">
    	<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		desktopPane.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.Constraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	tableExample = createExamplePanel("jsuis.Table example");
	tableExample.setLayout(new jsuis.BorderLayout());
	
	columnNames = [
		"Fist Name",
		"Last Name",
		"Sport",
		"# of Years",
		"Vegetarian"
	];
	
	data = [
		[ "Kathy", "Smith", "Snowboarding", 5, false ],
		[ "John", "Doe", "Rowing", 3, true ],
		[ "Sue", "Black", "Knitting", 2, false ],
		[ "Jane", "White", "Speed reading", 20, true ],
		[ "Joe", "Brown", "Pool", 10, false ],
		[ "", "", "", "", "" ],
		[ "", "", "", "", "" ],
		[ "", "", "", "", "" ],
		[ "", "", "", "", "" ],
		[ "", "", "", "", "" ],
		[ "", "", "", "", "" ],
		[ "", "", "", "", "" ],
		[ "", "", "", "", "" ],
		[ "", "", "", "", "" ],
		[ "", "", "", "", "" ],
		[ "", "", "", "", "" ],
	];
	
	table = new jsuis.Table();
	table.setColumns(columnNames);
	table.setValues(data);
	
	tableExample.add(new jsuis.ScrollPane(table));
	
	desktopPane.setVisible(true);
	
		</script>
	</body>
</html>
