<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    <script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; overflow: hidden;">
		<div id="container" style="height: 100vh;"></div>
		<script>
document.addEventListener('DOMContentLoaded', function() {
	
	component = new jsuis.Component(document.getElementById("container"));
	
	frame = new jsuis.Frame();
	component.add(frame);
	frame.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		frame.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.BorderConstraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	toolBarExample = createExamplePanel("jsuis.ToolBar example");
	toolBarExample.setLayout(new jsuis.BorderLayout());
	
	toolBar = new jsuis.ToolBar();
	toolBarExample.add(toolBar, jsuis.BorderConstraints.NORTH);
	
	previousButtonIcon = new jsuis.ImageIcon("/images/Previous.svg")
			.setPreferredSize(new jsuis.Dimension(16, 16));
	previousButton = new jsuis.Button(null, previousButtonIcon);
	toolBar.add(previousButton);
	
	upButtonIcon = new jsuis.ImageIcon("/images/Up.svg")
			.setPreferredSize(new jsuis.Dimension(16, 16));
	upButton = new jsuis.Button(null, upButtonIcon);
	toolBar.add(upButton);
	
	nextButtonIcon = new jsuis.ImageIcon("/images/Next.svg")
			.setPreferredSize(new jsuis.Dimension(16, 16));
	nextButton = new jsuis.Button(null, nextButtonIcon);
	toolBar.add(nextButton);
	
	frame.setVisible(true);
});
		</script>
	</body>
</html>
