<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    <script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; overflow: hidden;">
		<div id="container" style="height: 100vh;"></div>
		<script>
document.addEventListener('DOMContentLoaded', function() {
	
	component = new jsuis.Component(document.getElementById("container"));
	
	frame = new jsuis.Frame();
	component.add(frame);
	frame.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		frame.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.Constants.NORTH);
		label.setFill(jsuis.Constants.NONE)
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	treeExample = createExamplePanel("jsuis.Tree example");
	treeExample.setLayout(new jsuis.BorderLayout());
	
	tree = new jsuis.Tree();
	treeExample.add(tree);
	
	root = new jsuis.TreeNode("Root");
	tree.setRoot(root);
	
	letters = new jsuis.TreeNode("Letters");
	root.add(letters);
	
	letterA = new jsuis.TreeNode("A");
	letters.add(letterA);
	
	letterB = new jsuis.TreeNode("B");
	letters.add(letterB);
	
	letterC = new jsuis.TreeNode("C");
	letters.add(letterC);
	
	numbers = new jsuis.TreeNode("Numbers");
	root.add(numbers);
	
	numberOne = new jsuis.TreeNode("One");
	numbers.add(numberOne);
	
	frame.setVisible(true);
});
		</script>
	</body>
</html>
