<!doctype html>
<html>
	<head>
		<title>jsuis</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; height: 100vh; overflow: hidden;">
    	<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		desktopPane.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.Constraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	treeExample = createExamplePanel("jsuis.Tree example");
	treeExample.setLayout(new jsuis.BorderLayout());
	
	tree = new jsuis.Tree();
	treeExample.add(tree);
	
	root = new jsuis.TreeNode("Root");
	tree.setRoot(root);
	
	letters = new jsuis.TreeNode("Letters");
	root.add(letters);
	
	letterA = new jsuis.TreeNode("A");
	letters.add(letterA);
	
	letterB = new jsuis.TreeNode("B");
	letters.add(letterB);
	
	letterC = new jsuis.TreeNode("C");
	letters.add(letterC);
	
	numbers = new jsuis.TreeNode("Numbers");
	root.add(numbers);
	
	numberOne = new jsuis.TreeNode("One");
	numbers.add(numberOne);
	
	cellRenderer = tree.getCellRenderer();
	cellRenderer.setIcon("closed", new jsuis.ImageIcon("/images/Star.svg", 16, 16));
	cellRenderer.setIcon("open", new jsuis.ImageIcon("/images/Star.svg", 16, 16));
	
	tree.expandAll();
	
	desktopPane.setVisible(true);
	
		</script>
	</body>
</html>
