<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    	<script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; height: 100vh;">
		<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.BorderLayout());
	
	north = new jsuis.lf.Button("North");
	desktopPane.add(north, jsuis.Constraints.NORTH);
	
	south = new jsuis.Button("South");
	desktopPane.add(south, jsuis.Constraints.SOUTH);
	
	west = new jsuis.Button("West");
	desktopPane.add(west, jsuis.Constraints.WEST);
	
	east = new jsuis.Button("East");
	desktopPane.add(east, jsuis.Constraints.EAST);
	
	center = new jsuis.Button("Center");
	desktopPane.add(center);
	
	desktopPane.validate();
	
		</script>
	</body>
</html>
