<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    	<script src="/jsuis.js?${date}"></script>
	</head>
	<body style="margin: 0; height: 100vh; overflow: hidden;">
		<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.FlowLayout());
	
	button1 = new jsuis.Button("Button 1");
	desktopPane.add(button1);
	
	button2 = new jsuis.Button("Button 2");
	desktopPane.add(button2);
	
	button3 = new jsuis.Button("Button 3");
	desktopPane.add(button3);
	
	button4 = new jsuis.Button("Long-Named Button 4");
	desktopPane.add(button4);
	
	button5 = new jsuis.Button("5");
	desktopPane.add(button5);
	
	desktopPane.validate();
	
		</script>
	</body>
</html>
