div.JSFrameMenuBarContainer {
	background-image: linear-gradient(#dddddd, #eeeeee);
}
div.JSFrameTitleLabel {
	background-image: linear-gradient(#cccccc, #dddddd);
	text-align: center;
}
div.JSSplitPane.JSSplitPane_JSTutorial {
	background-color: #eeeeee;
}
div.JSSplitPaneDividerPanel {
	background-color: transparent;
}
div.JSSplitPaneLeftContainer {
	background-color: White;
	border-bottom: 1px solid Gray;
	border-bottom-right-radius: 8px;
	border-right: 1px solid Gray;
	border-top: 1px solid Gray;
	border-top-right-radius: 8px;
}
div.JSSplitPaneRightContainer {
	background-color: White;
	border: 1px solid Gray;
	border-radius: 8px;
}
div.JSTabbedPaneTabContainer[id="tabbedPaneTabContainer_JSTutorial"] {
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}
div[id="content"] {
	padding: 4px;
}
p, pre, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}
.monospaced {
	font-family: monospaced;
}
