html {
	height: 100%;
}
.JSBody {
	border: 0;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.JSBodyDefsContainer {
	height: 0;
}
.JSBodyDialogContainer {
	display: inline-block;
	height: 0;
}
.JSBodyDragImageContainer {
	display: inline-block;
	height: 0;
}
.JSBodyModal {
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: 200; /* JSComponent.MODAL_LAYER */
}
.JSBodyPopupMenuContainer {
	display: inline-block;
	height: 0;
}
.JSButton {
	white-space: nowrap;
}
.JSButton.undecorated {
	background: none;
	border: none;
	font-size: 0;
	padding: 0;
}
.JSButtonGraphics {
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
}
.JSButtonSpan {
	vertical-align: middle;
}
.JSCheckBox {
	white-space: nowrap;
}
.JSCheckBoxInput {
	vertical-align: middle;
}
.JSCheckBoxLabel {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}
.JSCheckBoxMenuItem {
}
.JSCheckBoxMenuItem:hover {
	background-color: #dddddd;
}
.JSComboBox {
}
.JSComponent {
}
.JSDefs {
}
.JSDialog {
	background-color: White;
	display: inline-block;
	position: absolute;
	z-index: 200; /* JSComponent.MODAL_LAYER */
}
.JSDialogCloseButton {
	background-color: #eeeeee;
	border: none;
	font-size: 0;
	padding: 6px;
}
.JSDialogCloseButton
		> div.JSButtonGraphics
		> svg.JSPathImage
		> path.JSPath {
	stroke: Red;
}
.JSDialogCloseButton:hover {
	background-color: Red;
	border: none;
	font-size: 0;
	padding: 6px;
}
.JSDialogCloseButton:hover
		> div.JSButtonGraphics
		> svg.JSPathImage
		> path.JSPath {
	stroke: White;
}
.JSDialogContentPane {
	display: inline-block;
	padding: 4px;
}
.JSDialogTitleLabel {
	display: inline-block;
	white-space: nowrap;
	padding: 0 4px;
}
.JSDialogTitlePanel {
	background-color: Silver;
	display: inline-block;
	height: 24px;
}
.JSDiv {
}
.JSFileChooser {
}
.JSForm {
}
.JSFrame {
}
.JSFrameContentPane {
	display: inline-block;
	}
.JSFrameMenuBarContainer {
	background-color: #eeeeee;
	display: inline-block;
}
.JSFrameTitleLabel {
	background-color: Silver;
	display: inline-block;
	padding: 0 4px;
	text-align: center;
	white-space: nowrap;
}
.JSGraphics {
	display: inline-block;
	font-size: 0;
}
.JSHiddenInput {
}
.JSHTMLComponent {
}
.JSIFrame {
	border: 0;
}
.JSImage {
	draggable: false;
	-webkit-user-drag: none;
}
.JSLabel {
	display: inline-block;
	white-space: nowrap;
}
.JSLabelGraphics {
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
}
.JSLabelSpan {
	vertical-align: middle;
}
.JSLayeredPane {
	display: inline-block;
}
.JSLI {
}
.JSMarker {
}
.JSMenu {
	padding: 0 4px;
	position: relative;
}
.JSMenu:hover {
	background-color: #dddddd;
}
.JSMenuBar {
	display: inline-block;
}
.JSMenuContainer {
	display: inline-block;
}
.JSMenuGraphics {
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
}
.JSMenuItem {
	display: block;
	padding: 0 4px;
}
.JSMenuItem:hover {
	background-color: #dddddd;
}
.JSMenuItemLabel {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}
.JSOList {
}
.JSOption {
}
.JSPanel {
	display: inline-block;
}
.JSParagraph {
}
.JSPath {
}
.JSPathImage {
}
.JSPopupMenu {
	background-color: #eeeeee;
	border: 1px solid gray;
	display: inline-block;
	padding: 4px 0;
	position: absolute;
}
.JSPopupMenuContainer {
	display: inline-block;
}
.JSProgressBar {
	border: 1px solid gray;
	white-space: nowrap;
}
.JSRadioButton {
}
.JSScrollBar {
	display: inline-block;
}
.JSScrollPane {
	display: inline-block;
}
/*
.JSScrollPaneViewContainer {
	display: block;
}
*/
.JSScrollTable {
	display: inline-block;
}
.JSSeparator {
	display: inline-block;
}
.JSSeparatorHorizontalLine {
	border-top: 1px solid gray;
	display: block;
	margin-top: 4px;
	height: 4px;
}
.JSSeparatorVerticalLine {
	border-left: 1px solid gray;
	display: inline-block;
	margin-left: 4px;
	width: 4px; height: 100%;
}
.JSSpan {
}
.JSSplitPane {
	display: inline-block;
}
.JSSplitPaneDivider {
	background-color: transparent;
	display: inline-block;
}
.JSSplitPaneDivider.horizontal {
	width: 4px;
	margin: 0 -4px;
	padding: 0 4px;
}
.JSSplitPaneDivider.vertical {
	height: 4px;
	margin: -4px 0;
	padding: 4px 0;
}
.JSSplitPaneLeftContainer {
	background-color: white;
	border: 1px solid Gray;
	display: inline-block;
	overflow: hidden;
}
.JSSplitPaneRightContainer {
	background-color: white;
	border: 1px solid Gray;
	display: inline-block;
	overflow: hidden;
}
.JSSVG {
	display: inline-block;
}
.JSSVGComponent {
}
.JSSVGImage {
}
.JSTab {
	background-color: Silver;
	display: inline-block;
	white-space: nowrap;
}
.JSTab.selected {
	background-color: White;
	display: inline-block;
	white-space: nowrap;
}
.JSTab > JSLabel {
	color: #404040;
}
.JSTab.selected > JSLabel {
	color: black;
}
.JSTabbedPane {
	display: inline-block;
}
.JSTabbedPaneButtonContainer {
	display: inline-block;
}
.JSTabbedPaneCardContainer {
	display: inline-block;
}
.JSTabbedPaneTabContainer {
	background-color: Silver;
	display: inline-block;
}
.JSTabCloseButton {
	background: none;
	border: none;
	font-size: 0;
	padding: 0;
	white-space: nowrap;
}
.JSTabGraphics {
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
}
.JSTabLabel {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}
.JSTableHeader {
	border-left: 1px solid gray;
	border-spacing: 0;
	/* display: inline-block; */
	/* position: absolute; */
	/* top: 0; left: 0; */
}
.JSTableContent {
	border-left: 1px solid gray;
	border-spacing: 0;
	/* display: inline-block; */
}
.JSTable {
	border-left: 1px solid gray;
	border-spacing: 0;
	/* display: inline-block; */
}
.JSTableBody {
}
.JSTableCell {
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	white-space: nowrap;
}
.JSTableHead {
}
.JSTableHeadCell {
	background-color: Silver;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	white-space: nowrap;
}
.JSTableRow {
}
.JSTextArea {
	border: 0;
	margin: 0;
	padding: 0;
}
.JSToolBar {
	background-color: #eeeeee;
	display: inline-block;
}
.JSTree {
	display: block;
}
.JSTreeCell {
	padding: 0 8px;
	position: relative;
	white-space: nowrap;
}
.JSTreeCell:hover {
	background-color: #dddddd;
}
.JSTreeCellButton {
	background: none;
	border: none;
	position: absolute;
	vertical-align: middle;
}
.JSVerticalScrollBar {
	font-size: 0;	
}