<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    	<script src="/jsuis.js?20180710105329"></script>
	</head>
	<body style="margin: 0; height: 100vh;">
		<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.BorderLayout());
	
	panel = new jsuis.Panel(new jsuis.FlowLayout());
	desktopPane.add(new jsuis.ScrollPane(panel));
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		panel.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.Constraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	/*
	 * BorderLayout example
	 */
	borderLayoutExample = createExamplePanel("jsuis.BorderLayout example");
	borderLayoutExample.setLayout(new jsuis.BorderLayout());
	
	north = new jsuis.Button("North");
	borderLayoutExample.add(north, jsuis.Constraints.NORTH);
	
	south = new jsuis.Button("South");
	borderLayoutExample.add(south, jsuis.Constraints.SOUTH);
	
	west = new jsuis.Button("West");
	borderLayoutExample.add(west, jsuis.Constraints.WEST);
	
	east = new jsuis.Button("East");
	borderLayoutExample.add(east, jsuis.Constraints.EAST);
	
	center = new jsuis.Button("Center");
	borderLayoutExample.add(center);
	
	desktopPane.setVisible(true);
	
		</script>
	</body>
</html>
