<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    	<script src="/jsuis.js?20180805213526"></script>
	</head>
	<body style="margin: 0; height: 100vh;">
		<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.GridBagLayout());
	
	gridBagConstraints = new jsuis.GridBagConstraints()
			.setFill(jsuis.Constants.HORIZONTAL)
			.setWeightx(.5);
	
	button1 = new jsuis.Button("Button 1");
	desktopPane.add(button1, gridBagConstraints
			.setGridx(0)
			.setGridy(0));
	
	button2 = new jsuis.Button("Button 2");
	desktopPane.add(button2, gridBagConstraints
			.setGridx(1)
			.setGridy(0));
	
	button3 = new jsuis.Button("Button 3");
	desktopPane.add(button3, gridBagConstraints
			.setGridx(2)
			.setGridy(0));
	
	button4 = new jsuis.Button("Long-Named Button 4");
	desktopPane.add(button4, gridBagConstraints
			.setIpady(40)
			.setWeightx(0)
			.setGridwidth(3)
			.setGridx(0)
			.setGridy(1));
	
	button5 = new jsuis.Button("5");
	desktopPane.add(button5, gridBagConstraints
			.setIpady(0)
			.setWeighty(1)
			.setAnchor(jsuis.Constants.PAGE_END)
			.setInsets(new jsuis.Insets(10, 0, 0))
			.setGridx(1)
			.setGridwidth(2)
			.setGridy(2));
	
	desktopPane.validate();
	
		</script>
	</body>
</html>
