<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>${title}</title>
	<link rel="stylesheet" href="/css/jsuis-${version}.css">
	<link rel="stylesheet" href="/css/jstutorial-${version}.css">
	<script src="/js/jsuis-${version}.js"></script>
	<script src="/js/jstutorial-${version}.js"></script>
</head>
<body>
	<script>
		addEventListener("load", function() {
			new ${class}().setVisible(true);
		});
	</script>
	<div class="JSPanel" id="content">
		<p class="JSParagraph">JSUIS is a javascript library to build complex user interfaces.</p>
	</div>
</body>
</html>
