<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    	<script src="/jsuis.js?20180731212858"></script>
	</head>
	<body style="margin: 0; height: 100vh; overflow: hidden;">
    	<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		desktopPane.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.Constraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	comboBoxExample = createExamplePanel("jsuis.ComboBox example");
	comboBoxExample.setLayout(new jsuis.BorderLayout(4));
	comboBoxExample.setPadding(new jsuis.Insets(4));
	
	petStrings = [ "Bird", "Cat", "Dog", "Rabbit", "Pig" ];
	
	petComboBox = new jsuis.ComboBox(petStrings);
	
	comboBoxExamplePicture = new jsuis.Label("Bird").setFont(new jsuis.Font("Serif", jsuis.Font.NORMAL, 24)).setForeground(jsuis.Color.Orange);
	comboBoxExamplePicture.setBorder(new jsuis.LineBorder());
	
	actionListener = new jsuis.ActionListener({
		actionPerformed: function(event) {
			var comboBox = this.getListenerComponent();
			var petName = comboBox.getSelectedItem();
			comboBoxExamplePicture.setText(petName);
		}
	});
	actionListener.setListenerComponent(petComboBox);
	petComboBox.addActionListener(actionListener);
	
	comboBoxExample.add(petComboBox, jsuis.Constraints.NORTH);
	comboBoxExample.add(comboBoxExamplePicture);
	
	desktopPane.setVisible(true);
	
		</script>
	</body>
</html>
