<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    	<script src="/jsuis.js?20180710105329"></script>
	</head>
	<body style="margin: 0; height: 100vh; overflow: hidden;">
    	<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		desktopPane.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.Constraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	radioButtonExample = createExamplePanel("jsuis.RadioButton example");
	radioButtonExample.setLayout(new jsuis.BorderLayout(4));
	radioButtonExample.setPadding(new jsuis.Insets(4));
	
	birdButton = new jsuis.RadioButton("Bird");
	birdButton.setActionCommand("Bird");
	birdButton.setSelected(true);
	
	catButton = new jsuis.RadioButton("Cat");
	catButton.setActionCommand("Cat");
	
	dogButton = new jsuis.RadioButton("Dog");
	dogButton.setActionCommand("Dog");
	
	rabbitButton = new jsuis.RadioButton("Rabbit");
	rabbitButton.setActionCommand("Rabbit");
	
	pigButton = new jsuis.RadioButton("Pig");
	pigButton.setActionCommand("Pig");
	
	group = new jsuis.ButtonGroup();
	group.add(birdButton);
	group.add(catButton);
	group.add(dogButton);
	group.add(rabbitButton);
	group.add(pigButton);
	
	radioButtonExamplePicture = new jsuis.Label("Bird").setFont(new jsuis.Font("Serif", jsuis.Font.NORMAL, 24)).setForeground(jsuis.Color.Orange);
	radioButtonExamplePicture.setBorder(new jsuis.LineBorder());
	
	actionListener = new jsuis.ActionListener({
		actionPerformed: function(event) {
			radioButtonExamplePicture.setText(event.getActionCommand());
		}
	});
	birdButton.addActionListener(actionListener);
	catButton.addActionListener(actionListener);
	dogButton.addActionListener(actionListener);
	rabbitButton.addActionListener(actionListener);
	pigButton.addActionListener(actionListener);
	
	radioPanel = new jsuis.Panel(new jsuis.BorderLayout(4));
	
	var constraints = jsuis.Constraints.NORTH.withFill(jsuis.Constants.NONE).withAnchor(jsuis.Constants.WEST);
	
	radioPanel.add(birdButton, constraints);
	radioPanel.add(catButton, constraints);
	radioPanel.add(dogButton, constraints);
	radioPanel.add(rabbitButton, constraints);
	radioPanel.add(pigButton, constraints);
	
	radioButtonExample.add(radioPanel, jsuis.Constraints.WEST.withFill(jsuis.Constants.NONE));
	radioButtonExample.add(radioButtonExamplePicture);
	
	desktopPane.setVisible(true);
	
		</script>
	</body>
</html>
