<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    	<script src="/jsuis.js?20180710105329"></script>
	</head>
	<body style="margin: 0; height: 100vh; overflow: hidden;">
    	<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		desktopPane.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.Constraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	splitPaneExample = createExamplePanel("jsuis.SplitPane example");
	splitPaneExample.setLayout(new jsuis.BorderLayout());
	
	font = new jsuis.Font("Serif", jsuis.Font.NORMAL, 24);
	
	splitPane = new jsuis.SplitPane();
	splitPaneExample.add(splitPane);
	splitPane.setPadding(new jsuis.Insets(4));
	
	leftLabel = new jsuis.Label("Left").setFont(font).setForeground(jsuis.Color.Orange);
	leftComponent = new jsuis.Panel();
	leftComponent.setLayout(new jsuis.GridBagLayout());
	leftComponent.add(leftLabel);
	leftComponent.setBorder(new jsuis.LineBorder(jsuis.Color.Gray, 1, 8));
	splitPane.setLeftComponent(leftComponent);
	
	rightLabel = new jsuis.Label("Right").setFont(font).setForeground(jsuis.Color.Orange);
	rightComponent = new jsuis.Panel();
	rightComponent.setLayout(new jsuis.GridBagLayout());
	rightComponent.add(rightLabel);
	rightComponent.setBorder(new jsuis.LineBorder(jsuis.Color.Gray, 1, 8));
	splitPane.setRightComponent(rightComponent);
	
	desktopPane.setVisible(true);
	
		</script>
	</body>
</html>
