<!doctype html>
<html>
	<head>
		<title>jsuis</title>
    	<script src="/jsuis.js?20180710105329"></script>
	</head>
	<body style="margin: 0; height: 100vh; overflow: hidden;">
    	<script>
	
	desktopPane = jsuis.lf.DesktopPane.getInstance();
	desktopPane.setLayout(new jsuis.GridBagLayout());
	
	function createExamplePanel(title) {
		var titledPanel = new jsuis.Panel(new jsuis.BorderLayout());
		desktopPane.add(titledPanel);
		var label = new jsuis.Label(title);
		titledPanel.add(label, jsuis.Constraints.NORTH.withFill(jsuis.Constants.NONE));
		var contentPane = new jsuis.Panel();
		titledPanel.add(contentPane);
		contentPane.setPreferredSize(new jsuis.Dimension(200, 200));
		contentPane.setBorder(new jsuis.LineBorder());
		return contentPane;
	}
	
	textFieldExample = createExamplePanel("jsuis.TextField example");
	textFieldExample.setLayout(new jsuis.GridBagLayout(4));
	
	gridBagConstraints = new jsuis.GridBagConstraints();
	
	firstNameLabel = new jsuis.Label("First name:");
	textFieldExample.add(firstNameLabel, gridBagConstraints.setGridx(0).setGridy(0));
	
	firstNameTextField = new jsuis.TextField("Mickey");
	firstNameTextField.setPreferredSize(new jsuis.Dimension(100, 20));
	firstNameTextField.setBorder(new jsuis.LineBorder(jsuis.Color.Gray, 1, 8));
	textFieldExample.add(firstNameTextField, gridBagConstraints.setGridx(1).setGridy(0));
	
	lastNameLabel = new jsuis.Label("Last name:");
	textFieldExample.add(lastNameLabel, gridBagConstraints.setGridx(0).setGridy(1));
	
	lastNameTextField = new jsuis.TextField("Mouse");
	lastNameTextField.setPreferredSize(new jsuis.Dimension(100, 20));
	lastNameTextField.setBorder(new jsuis.LineBorder(jsuis.Color.Gray, 1, 8));
	textFieldExample.add(lastNameTextField, gridBagConstraints.setGridx(1).setGridy(1));
	
	desktopPane.setVisible(true);
	
		</script>
	</body>
</html>
